
body {
	background-color : #111111;
	width: 1140px;
	margin-right           : 100px;
	margin-left: 100px;
	padding          : 0px;
    height: 100%;
    min-height: 100vh;
	position: relative;
	font-family: "Poppins Regular";
	font-weight:lighter;
}

.ecripse-pic{
	height: 50px;
	float: left;
	margin-right:10px;
}

.small-title p{
	font-size:25;
	letter-spacing:5px;
	color:#FFFFFF;
	float:left;
}

.menu-icon{
	float: right;
	width: 40px;
	height: 20px;
	margin-top:20px;
}

.title p{
	font-size: 20px;
	line-height:4px;
	letter-spacing: 4px;
	text-align: center;
	color: #8C8C8C;
	clear: left;
	padding-top: 225px;
}

.title h2{
	font-style: bold;
	font-size: 40px;
	text-align: center;
	letter-spacing: 10px;
	line-height:48px;
	color:#FFFFFF;
	clear:left;
	text-shadow: 0px 0px 2px #FFFFFF;
}

.text-profile h1{
	font-style: bold;
	font-size: 180px;
	letter-spacing: 0px;
	line-height:270px;
	color:#252525;
    position: absolute;
    top: 500px;
    left: 510px;
	font-weight:900;
}

.text-profile h3{
	position: absolute;
    top: 745px;
    left: 600px;
	color:#FFFFFF;
    letter-spacing: 2px;
}

.p1{
	position: absolute;
    top: 840px;
    left: 600px;
    letter-spacing: 0px;
	color:#8C8C8C;
}

.p2{
	position: absolute;
    top: 940px;
    left: 600px;
    letter-spacing: 0px;	color:#8C8C8C;
}


.vid1{
	position: absolute;
    top: 1060px;
    left: 840px;
	width:255px;
	height:159px;
}

.vid2{
	position: absolute;
    top: 1060px;
    left: 580px;
	width:255px;
	height:159px;
}


.p3{
	position: absolute;
    top: 1230px;
    left: 952px;
    letter-spacing: 0px;	
}


.p3 a{
	text-decoration: none;
	color: #2f89fc;
}

.main-photo{
	position: absolute;
    top: 745px;
    left: 0px;
	width:450px;
	height:670px;
}

.p4{
	position: absolute;
    top: 1280px;
    left: 600px;
    letter-spacing: 0px;	color:#FFFFFF;
}

.twitter{
	position: absolute;
    top: 1350px;
    left: 600px;
	width:60px;
	height:60px;
}

.facebook{
	position: absolute;
    top: 1350px;
    left: 670px;
	width:60px;
	height:60px;
}

.instagram{
	position: absolute;
    top: 1350px;
    left: 740px;
	width:60px;
	height:60px;
}

.main-contents-p{
	font-size:18px;
	position:absolute;
    top: 1650px;
	left: 50%;
	transform: translateX(-50%);
    letter-spacing: 5px;	color:#8C8C8C;
}

.main-contents h2{
	font-size:40px;
	font-style:bold;
	position:absolute;
    top: 1680px;
	left: 50%;
	transform: translateX(-50%);
    letter-spacing: 0px;	
	color:#FFFFFF;
}

.icons-2 li{
	list-style:none;
}

.html-css{
	position: absolute;
    top: 1900px;
    left: 225px;
	width:70px;
	height:70px;
}

.ui-ux{
	position: absolute;
    top: 1900px;
	left: 50%;
	transform: translateX(-50%);
	width:70px;
	height:70px;
}

.strategy{
	position: absolute;
    top: 1900px;
    right: 225px;
	width:70px;
	height:70px;
}

.myservices li{
	list-style:none;
	color:#FFFFFF;
	position: absolute;
	text-align:center;
	text-size:22px;
	letter-spacing:1px;
	top:2000px;
}

.html-css-text{
    left: 210px;
}

.ui-ux-text{
	left: 50%;
	transform: translateX(-50%);
}

.strategy-text{
    right: 195px;
}

.sub-contents p{
	font-size:18px;
	position:absolute;
    top: 2240px;
	left: 50%;
	transform: translateX(-50%);
    letter-spacing: 5px;	color:#8C8C8C;	
}

.sub-contents h2{
	font-size:40px;
	font-style:bold;
	position:absolute;
    top: 2270px;
	left: 50%;
	transform: translateX(-50%);
    letter-spacing: 0px;	
	color:#FFFFFF;
}

.sub-contents h5{
	position:absolute;
    font-size:13px;
	top: 2430px;
	left: 0px;
	color:#8c8c8c;
	letter-spacing:2px;
}

.sub-contents h4{
	position:absolute;
    font-size:30px;
	top: 2430px;
	left: 0px;
	color:#FFFFFF;
}

.works-photos li{
	list-style:none;
}

.works-photos img{
	position: absolute;
	width:270px;
	height:325px;
	margin-right:
}

.designing{
    top: 2550px;
    left: 0px;
}

.wireframing{
	top: 2650px;
    left: 290px;
}

.coding{
    top: 2550px;
    right: 290px;
}

.analysis{
	top: 2650px;
    right: 0px;
}

.sub-title h3{
	position: absolute;
	font-size:22px;
	color:#FFFFFF;
	letter-spacing:1px;
}

.sub-h3-1{
	top: 2860px;
    left: 0px;
}

.sub-h3-2{
	top: 2525px;
    left: 290px;
}

.sub-h3-3{
	top: 2860px;
    right: 474px;
}

.sub-h3-4{
	top: 2525px;
    right: 118px;
}

.works-text li{
	position: absolute;
	font-size:18px;
	color:#8C8C8C;
	list-style:none;
}

.design-p{
	top: 2920px;
    left: 0px;
}

.wireframe-p{
	top: 2585px;
    left: 290px;
}

.coding-p{
	top: 2920px;
    right: 332px;
}

.analysis-p{
	top: 2585px;
    right: 90px;
}

.portfolio-2 h5{
	position:absolute;
    font-size:13px;
	top: 3135px;
	left: 905px;
	color:#8c8c8c;
	letter-spacing:2px;
}

.portfolio-2 h4{
	position:absolute;
    font-size:30px;
	top: 3135px;
	left: 770px;
	color:#FFFFFF;
}

.works-photos2 li{
	list-style:none;
}

.works-photos2 img{
	position: absolute;
	width:560px;
	height:302px;
}

.photoinsta1{
    top: 3255px;
    left: 0px;
}

.photoinsta2{
	top: 3355px;
    right: 0px;
}

.sub-title2 h3{
	position: absolute;
	font-size:22px;
	color:#FFFFFF;
	letter-spacing:1px;
}

.sub2-h3-1{
	top: 3543px;
    left: 0px;
}

.sub2-h3-2{
	top: 3223px;
    right: 0px;
}

.works-text2 li{
	position: absolute;
	font-size:18px;
	color:#8C8C8C;
	list-style:none;
}

.analysis2-p{
	top: 3600px;
    left: 0px;
}

.contents-p{
	top: 3280px;
    right: 0px;
}

.a1{
	position: absolute;
    top: 3680px;
    right: 0px;
    letter-spacing: 0px;	color:#2F89FC;
	right: 0px;
	text-decoration:none;
}

.icons2{
	position: absolute;
	filter: grayscale(100%);
	top: 4000px;
}

.twitter2{
    position: absolute;
	width:40px;
	height:40px;
	left:500px;
}

.facebook2{
	position: absolute;
	width:40px;
	height:40px;
	left: 550px;
}

.instagram2{
	position: absolute;
	width:40px;
	height:40px;
	left:600px;
}

.footer-text h3{
	position: absolute;
    top: 4070px;
    left: 50%;
	transform: translateX(-50%);
	font-size:22px;
    letter-spacing: 2px;
	color:#FFFFFF;
}

.footer-p{
	position: absolute;
    top: 4120px;
	left: 50%;
	transform: translateX(-50%);
	font-size:17px;
    letter-spacing: 1px;
	font-weight: lighter;
	color:#FFFFFF;
}

.footer-p2{
	position: absolute;
    top: 4200px;
	left: 50%;
	transform: translateX(-50%);
	font-size:14px;
    letter-spacing: 0px;
	font-weight: lighter;
	color:#FFFFFF;
	padding-bottom: 100px;
}



